page-gestionusuario {
  
  .derecha{
    display: block;
    text-align: center;
    width: 100vw;
    justify-content: space-between;
  }

  .imgheader{

    width: 50%;
    height: 50%;
    vertical-align: middle;
    padding-top: 5px;
    margin-left: 4vh;
    margin-right: 4vh; 
} 


.cerrar{
  vertical-align: middle;
  background: transparent;
  color: #f0810a;
}

input{
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 2px solid #f0810a;
  width: 80%;
  border-radius: 20px;
  display: inline;
}

.search{
  vertical-align: middle;
  background: transparent;
  color: #f0810a;
}

.bg-image {
  background-image: url(http://www.dinamo-ca.com/img/app/logo.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;

}

  ion-list{
    padding: 0;
    margin: 0;
    width: 100% !important;
    background: #fff;
    border-bottom: #f0810a 2px solid;
    border-top: #f0810a 2px solid;
    
  }

.usuario{
  margin-top: 0;
  text-align: center;
  color: #000;
  font-size: 18px;
  border-right: #f0810a 2px solid;
  border-left: #f0810a 2px solid;
}  

.big{
  margin-top: 0; 
  font-size: 15vh;
  color: #f0810a;
}

.transparente{
      background: #fff;
      margin: 0;
      padding: 0;
      text-align: left;
      border-left: #f0810a 2px solid;
      border-right: #f0810a 2px solid;
      border-top: #f0810a 2px solid;

}

.bottonletters{
  margin-left: 5px;
  font-size: 2.5vh;
}


}
